html, body {
  margin: 0;
  height: 100%;
  background-color: #eee; }

textarea:focus, input:focus, button:focus, img:focus {
  outline: none; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1070px; } }

.mb-lt {
  margin-bottom: 50px; }

.grid-container {
  display: inline-grid; }

.flex-container {
  display: flex; }

.main-container {
  background-color: #fff; }

.font-bold-light {
  font-weight: 500; }

.anchor-decoration-none {
  text-decoration: none;
  color: #333; }

.btn-primary {
  height: 50px;
  width: 100%;
  background: #3483FA;
  color: #fff;
  border-radius: 3px; }

.main input {
  width: 100%;
  font-size: 18px;
  padding: 7px 0 7px 10px;
  border-radius: 3px;
  border: none; }

.main .search-box {
  background-color: #FFE600;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px; }
  .main .search-box .search-box-container {
    grid-template-columns: 70px 90%; }
  .main .search-box .search-box-form {
    grid-template-columns: 100% 40px; }
  .main .search-box .search-box-btn {
    border: none;
    background-color: #eee; }

.main .breadcrumb {
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  padding: 0;
  color: #999; }
  .main .breadcrumb li a {
    text-decoration: none; }
  .main .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    content: ">"; }

.main .result-list {
  list-style: none;
  padding: 0 16px; }

.main .product {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 16px 0 12px 0;
  border-bottom: 1px solid #eee;
  color: #333; }
  .main .product:last-child {
    border-bottom: none; }
  .main .product .left-product {
    padding-right: 16px; }
  .main .product .img-product-list {
    width: 180px;
    height: 180px;
    border-radius: 4px; }

.main .top-details-container {
  grid-template-columns: 1fr 2fr; }
  .main .top-details-container .img-details-product {
    width: 680px; }
  .main .top-details-container .price-details-container {
    padding-top: 32px;
    padding-right: 32px; }
  .main .top-details-container .sell-items {
    font-size: 14px; }
  .main .top-details-container .product-details-price {
    margin-top: 13px; }
  .main .top-details-container .product-details-price {
    margin-bottom: 32px;
    margin-top: 32px;
    font-size: 46px; }

.main .description-container {
  padding: 20px; }
